<div class="trued6">
  <div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{{flavor}}}</div>
    {{/if}}
    <div class="dice-result">
      {{{tooltip}}}
      <h4 class="dice-total {{cssClass}}">
        {{localize rollResult}}
        {{#if damage}}
        <br>
        <label>{{localize "TRUED6.DiceRoll.Damage"}}: {{damage}}</label>
        {{/if}}
        {{#if (eq rollType 2)}}
        <br>
        <label class="failure">{{localize "TRUED6.DiceRoll.DiscardedByDisadvantage"}}</label>
        {{/if}}
        <label class="advantage success" style="display: none;">{{localize "TRUED6.DiceRoll.DiscardedByAdvantage"}}</label>
      </h4>
    </div>
  </div>
  {{#if (eq rollType 1)}}
  <button class="chat-reroll" data-target="{{data.target}}" data-roll-type="{{data.rollType}}" data-label="{{data.name}}"
    data-actor-id="{{actorId}}"><i class="fas fa-dice"></i>{{localize "TRUED6.DiceRoll.Reroll"}}</button>
  {{/if}}
</div>