<div class="border">
  <div class="label grid-span-2 top-left top-right separator-line big {{attack.cssClass}}" data-roll-type="attack" data-target="{{attack.value}}" data-special="{{attack.special}}" data-label="{{header}}" >
    <span>{{ header }}</span>
  </div>
  <div class="label">
    <span>{{localize "TRUED6.Attacks.Number"}}</span>
  </div>
  <div class="input">
    <input name="system.{{type}}.number" type="text" value="{{attack.number}}" />
  </div>
  <div class="label">
    <span>{{localize "TRUED6.Attacks.Target"}}</span>
  </div>
  <div class="input">
    <input name="system.{{type}}.value" type="text" value="{{attack.value}}" />
  </div>
  <div class="label bottom-left">
    <span>{{localize "TRUED6.Attacks.Special"}}</span>
  </div>
  <div class="input">
    <input name="system.{{type}}.special" type="text" value="{{attack.special}}" data-tooltip="{{attack.special}}" />
  </div>
</div>