<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
      <div class="border grid-12col">
        <div class="label grid-span-3 top-left big separator-line">
          <span>{{localize "Name"}}</span>
        </div>
        <div class="input grid-span-9  separator-line">
          <input name="name" class="top" type="text" value="{{actor.name}}" placeholder="Name" />
        </div>


        <div class="label grid-span-3">
          <span>{{localize "TRUED6.HP.CurrentHP"}}</span>
        </div>
        <div class="input grid-span-9">
          <input name="system.health.current" type="number" value="{{system.health.current}}" />
        </div>
        <div class="label grid-span-3 bottom-left">
          <span>{{localize "TRUED6.HP.MaxHP"}}</span>
        </div>
        <div class="input grid-span-3">
          <input name="system.health.max" type="number" value="{{system.health.max}}" />
        </div>
        <div class="input grid-span-3 align-right">
          <input name="system.health.formula" type="text" value="{{system.health.formula}}"
            placeholder="" />
        </div>
        <div class="label grid-span-3 bottom-right">
          <span>{{localize "TRUED6.HP.HPFormula"}}</span>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">Main</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab main" data-group="primary" data-tab="main">
      <div class="grid">
        {{> "systems/trued6/templates/actor/npc-parts/attacks.hbs"
        header=(localize "TRUED6.Attacks.Melee")
        attack=actor.system.melee
        type="melee"
        }}
        {{> "systems/trued6/templates/actor/npc-parts/attacks.hbs"
        header=(localize "TRUED6.Attacks.Ranged")
        attack=actor.system.ranged
        type="ranged"
        }}

        {{> "systems/trued6/templates/actor/npc-parts/features.hbs"
        header="TRUED6.ExtraAttacks"
        type="extraAttack"
        values=extraAttacks
        }}
        {{> "systems/trued6/templates/actor/npc-parts/features.hbs"
        header="TRUED6.Features"
        type="feature"
        values=features
        }}
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>