<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="first-column">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
    <div class="header-fields">
      <div class="border grid-12col">
        <div class="label grid-span-3 top-left big separator-line">
          <span>{{localize "Name"}}</span>
        </div>
        <div class="input grid-span-9  separator-line">
          <input name="name" class="top" type="text" value="{{actor.name}}" placeholder="Name" />
        </div>


        <div class="label grid-span-3 big1-5">
          <span>{{localize "TRUED6.HP.CurrentHP"}}</span>
        </div>
        <div class="input grid-span-9 big1-5">
          <input name="system.health.value" type="number" value="{{system.health.value}}" />
        </div>
        <div class="label grid-span-3 bottom-left big1-5">
          <span>{{localize "TRUED6.HP.MaxHP"}}</span>
        </div>
        <div class="input grid-span-3 big1-5">
          <input name="system.health.max" type="number" value="{{system.health.max}}" />
        </div>
        <div class="input grid-span-3 align-right big1-5">
          <input name="system.health.formula" type="text" value="{{system.health.formula}}" placeholder="" />
        </div>
        <div class="label grid-span-3 bottom-right big1-5">
          <span>{{localize "TRUED6.HP.HPFormula"}}</span>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">Main</a>
    <a class="item" data-tab="description">{{localize "Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab main" data-group="primary" data-tab="main">
      <div class="grid grid-2col">
        {{> "systems/trued6/templates/actor/npc-parts/attacks.hbs"
        header=(localize "TRUED6.Attacks.Melee")
        attack=system.melee
        type="melee"
        }}
        {{> "systems/trued6/templates/actor/npc-parts/attacks.hbs"
        header=(localize "TRUED6.Attacks.Ranged")
        attack=system.ranged
        type="ranged"
        }}
      </div>
      {{> "systems/trued6/templates/actor/parts/skills.hbs"}}
    </div>

    {{!-- Owned Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/trued6/templates/actor/parts/skills.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

  </section>
</form>