<form class="{{cssClass}} item-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <div class="border grid-12col">
        <div class="input grid-span-12 separator-line big1">
          <label>{{localize "TYPES.Item.inventoryItem"}}</label>
        </div>
        <div class="input grid-span-12 separator-line big3">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </div>
        <div class="label grid-span-4 bottom-left">
          <span>{{localize "TRUED6.Price"}}</span>
        </div>
        <div class="input grid-span-8">
          <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab active" data-group="primary" data-tab="description">
      {{editor description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>
  </section>
</form>